@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind components;

@tailwind utilities;
@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }

  .square-80 {
    width: 80vmin;
    height: 80vmin;
  }
  .square-70 {
    width: 70vmin;
    height: 70vmin;
  }
  .square-60 {
    width: 60vmin;
    height: 60vmin;
  }
}
